fastapi
uvicorn[standard]
pydantic
python-multipart
pydantic-settings
google-cloud-spanner
google-cloud-pubsub
google-cloud-storage
google-auth
python-json-logger
cachetools
google-cloud-aiplatform
xgboost
numpy
pandas
kfp
